*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #060c21;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    min-height: 100vh;

    
}
.container{
        width:100%;
        margin:15px;
       display: flex;
        

}
.box{
    
    padding: 15px;
    margin:20px;
position: relative;
background-color: black;
    
}
.container .box::before{
    content:'';
position: absolute;
top:-2px;
left:-2px;
right:-2px;
bottom: -2px;
z-index:-1;
transform: skew(2deg, 2deg);
background-color: #fff;
}
.container .box:nth-child(1):before{
    background:linear-gradient(315deg,#ff0057,#e64a19);
}
.container .box:nth-child(2):before{
    background:linear-gradient(315deg,#89ff00,#00bcd4);
}
.container .box:nth-child(3):before{
    background:linear-gradient(315deg,#e91e63,#5d02ff);
}
.container .box:nth-child(4):before{
    background:linear-gradient(315deg,#ff0000,#ffc107);
}
h2, h3{
    font-size: 120px;
    text-align: center;
    color: rgba(255,255,255,0.1);
    
    position: relative;
    transition: 0.5s;
    
}
h2{
    top:15px;
}
h3{
    color:white;
    font-size: 40px;
    position: relative;
    
    top:-55px;
    letter-spacing: 2px;

}
p{
    position: relative;
    font-size: 18px;
    text-align: justify;
    opacity:0.6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.5s;
    color:white;
    
}
.box :hover h2 {
top:-30px;


}
.contain{
    padding:5px;
    position: relative;
}
a{
    text-decoration: none;
    color:white;
    border: 1px solid white;
    padding:5px;
    font-size:25px;
    display: inline-block;
    margin:20px 0 0;
    position: relative;
   visibility: hidden;
    transition: 0.5s;
    top:10px;
   
}
 .box :hover a{
    visibility: visible;
    top:5px;
    
   
}

a:hover{
    color:black;
    background-color: white;
}